{% extends 'app/_base.html' %}
{% load bootstrap4 %}
{% load django_tables2 %}
{% block extrahead %}
  {{ filter.form.media }}
{% endblock %}

{% block header %}
  {% if script %}
    {{ script|safe }}
  {% endif %}
  <div class="row">
  <div class="col-md-10">
      <h3>Total de Egresos por Acumulador</h3>
  </div>
  <div class='col-md-2 text-right'>
    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
      Filtrar
    </button>
  </div>
</div>
{% endblock %}

{% block content %}
{% if title %}
  <h4>{{ title }}</h4>
{% endif %}

<form method="GET">{% csrf_token %}
<div class="collapse" id="collapseForm">
<div class="form">
  <div class="row">
    <div class="form-group col-md-6">
      {% bootstrap_label filter.form.acumulador.label %}
      {{ filter.form.acumulador }}
    </div>
    <div class=" form-group col-md-6">
      {% bootstrap_label filter.form.imputacion.label %}
      {{ filter.form.imputacion }}
    </div>
  </div>
  <div class="text-right">
    {% bootstrap_button '<i class="fas fa-bars"></i> Ver detalle' button_class='btn btn-outline-primary' %}
    {% bootstrap_button '<i class="fas fa-eraser"></i> Limpiar Filtro' button_type='link' button_class='btn btn-outline-secondary' href='/acumula' %}
  </div>
</div>
</div>

{% if imputacion %}
  {% if table %}
  <div class="row">
    <div class="col-md-6">
      <p class='page'>Resultados: {{table.page.paginator.count}} registros</p>
    </div>
    <div class="col-md-6">
      {# Form para elegir las columnas de la tabla #}
      <div class="dropdown text-right">
        <button class="btn btn-light dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Columnas visibles
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          {% bootstrap_field form.all form_group_class='form-group columns' %}
          <div class="dropdown-divider"></div>
          {% bootstrap_field form.visible_columns show_label=false form_group_class='form-group columns' %}
          <div class="dropdown-divider"></div>
          <div class="text-center">
            {% bootstrap_button '<i class="fas fa-redo-alt"></i> Actualizar' button_class='btn btn-outline-primary' size='sm' %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% render_table table %}
  {% endif %}
{% else %}
  {# Gráficos y Tabla #}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="barras-tab" data-toggle="tab" href="#barras" role="tab" aria-controls="barras" aria-selected="true">Gráfico de Barras</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="torta-tab" data-toggle="tab" href="#torta" role="tab" aria-controls="torta" aria-selected="false">Gráfico de Torta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tabla-tab" data-toggle="tab" href="#tabla" role="tab" aria-controls="tabla" aria-selected="false">Tabla</a>
    </li>
  </ul> 

  <div class="tab-content" id="tabContent">
    <div class="tab-pane fade show active" id="barras" role="tabpanel" aria-labelledby="nav-barras-tab">
      {{ div.vbar_plot|safe }}
    </div>
    <div class="tab-pane fade" id="torta" role="tabpanel" aria-labelledby="nav-torta-tab">
      {{ div.pie_plot|safe }}
    </div>
    <div class="tab-pane fade" id="tabla" role="tabpanel" aria-labelledby="nav-tabla-tab">
      <div class="row">
        <div class="col-md-6">
          <p class='page'>Resultados: {{table.page.paginator.count}} registros</p>
        </div>
        <div class="col-md-6">
          {# Form para elegir las columnas de la tabla #}
          <div class="dropdown text-right">
            <button class="btn btn-light dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Columnas visibles
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              {% bootstrap_field form.all form_group_class='form-group columns' %}
              <div class="dropdown-divider"></div>
              {% bootstrap_field form.visible_columns show_label=false form_group_class='form-group columns' %}
              <div class="dropdown-divider"></div>
              <div class="text-center">
                {% bootstrap_button '<i class="fas fa-redo-alt"></i> Actualizar' button_class='btn btn-outline-primary' size='sm' %}
              </div>
            </div>
          </div> 
        </div>
      </div>

      {% render_table table %}
    </div>
  </div>
  </form>
{% endif %}

{% endblock %}