{% extends 'app/_base.html' %}
{% load bootstrap4 %}
{% load django_tables2 %}
{% block extrahead %}
  {{ filter.form.media }} {# Cargar el DatePicker #}
{% endblock %}

{% block header %}
  {{ script|safe }}
  <h3>Sub Diario IVA compras</h3>
{% endblock %}

{% block content %}
<form method="GET">{% csrf_token %}
<div class='text-right'>
  <a data-toggle="collapse" href="#collapseForm" aria-expanded="true" aria-controls="collapseForm">
  Filtrar <i class='fas fa-filter' aria-hidden='true'></i>
  </a>
  {% bootstrap_button '<i class="fas fa-eraser"></i>' button_type='link' button_class='btn btn-light btn-sm' href='/sub_diario_iva_compras' %}
</div>

<div class="collapse" id="collapseForm">
<div class="form">
  <div class="row">
    <div class="col-md-6">
      <label>Periodo Contable</label>
      <div class="form-row">
        <div class="form-group col-md-6">
          {% bootstrap_field filter.form.inicio_periodo show_label=False addon_after="<button type='button' id='btn-inicio_periodo' class='btn btn-outline-secondary docs-datepicker-trigger'><i class='fa fa-calendar' aria-hidden='true'></i></button>" addon_after_class=None %}
        </div>
        <div class="form-group col-md-6">
          {% bootstrap_field filter.form.fin_periodo show_label=False addon_after="<button type='button' id='btn-fin_periodo' class='btn btn-outline-secondary docs-datepicker-trigger'><i class='fa fa-calendar' aria-hidden='true'></i></button>" addon_after_class=None %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label>Fecha Comprobante</label>
      <div class="form-row">
        <div class="form-group col-md-6">
          {% bootstrap_field filter.form.inicio_comprobante show_label=False addon_after="<button type='button' id='btn-inicio_comprobante' class='btn btn-outline-secondary docs-datepicker-trigger'><i class='fa fa-calendar' aria-hidden='true'></i></button>" addon_after_class=None %}
        </div>
        <div class="form-group col-md-6">
          {% bootstrap_field filter.form.fin_comprobante show_label=False addon_after="<button type='button' id='btn-fin_comprobante' class='btn btn-outline-secondary docs-datepicker-trigger'><i class='fa fa-calendar' aria-hidden='true'></i></button>" addon_after_class=None %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      {% bootstrap_field filter.form.tipo_movim %}
    </div>
    <div class="col-md-3">
      {% bootstrap_field filter.form.tipo_comprob %}
    </div>
    <div class="col-md-3">
      {% bootstrap_field filter.form.proveedor %}
    </div>
    <div class="col-md-3">
      <label>Importe</label>
      <div class="form-row">
        <div class="form-group col-md-6">
          {% bootstrap_field filter.form.importe_min show_label=False %}
        </div>
        <div class="form-group col-md-6">
          {% bootstrap_field filter.form.importe_max show_label=False %}
        </div>
      </div>
    </div>
  </div>
  <div class="text-right">
    {% bootstrap_button '<i class="fas fa-filter"></i> Filtrar' button_class='btn btn-outline-primary' %}
    {% bootstrap_button '<i class="fas fa-eraser"></i> Limpiar Filtro' button_type='link' button_class='btn btn-outline-secondary' href='/sub_diario_iva_compras' %}
  </div>
</div>
</div>
</form>

<div class="row">
  <div class="col-md-6">
    <p class='page'>Resultados: {{table.page.paginator.count}}</p>
  </div>
  <div class="col-md-6">
    <p class='page text-right'>Página {{table.page.number}} de {{table.page.paginator.num_pages}}</p>
  </div>
</div>
{% render_table table %}

{% endblock %}