{% extends "rest_framework/base.html" %}

{% load staticfiles %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="{% static '/home/css/bootstrap-flatly-theme.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/home/css/site.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
{% endblock %}

{% block bootstrap_navbar_variant %}navbar-default{% endblock %}

{% block branding %}
    <a class="navbar-brand site-title" href="#">The Movies of our Lives</a>
{% endblock %}

{% block title %}
    {{ name }} - The Movies of our Lives API
{% endblock %}